<app-navbar></app-navbar>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="about-section paddingTB60 gray-bg">
  <div class="container">
      <div class="row">
 <div class="col-md-7 col-sm-6"> 
<div class="about-title clearfix">
  <h1>About <span>TechTest</span></h1>
  <h3>Every Noble Work is at first IMPOSSIBLE </h3>
  <p class="about-paddingB">The best way to predict the future is to create it. </p>
  <p>Instead of using a traditional exam method of pen and paper, many institutes and universities have started shifting to the online assessment process.	
    This test is specifically applicable to software/information technology. The candidate needs to solve specific questions related to programming.
    
    This test is useful to understand the knowledge of the candidate for a specific programming skillset.</p>

            
              <h2>Connect us globally</h2> 
           
              
              <a href="https://github.com/" class="btn btn-social-icon btn-github fa fa-github"></a>


</div>
</div>
</div>

      </div>
     
  </div>
 